.cover__wrapper {
  position: relative;
  color: #fff;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  max-width: 1184px;
  min-height: 740px;
  text-decoration: none;
}

.cover__wrapper::before {
  content: '';
  background: #2A2C2F;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  transition: opacity .5s;
  /* z-index: 1; */
}

.cover__wrapper:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__wrapper {
    max-width: 1024px;
    min-height: 640px;   
  }
}

@media screen and (max-width: 768px) {
  .cover__wrapper {
    max-width: 768px;
    min-height: 480px;       
  }
}

@media screen and (max-width: 320px) {
  .cover__wrapper {
    max-width: 320px;
    min-height: 200px;       
  }
}